name: loadtests-containers

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  IMAGEM_DOCKERHUB: ${{ secrets.DOCKERHUB_USERNAME }}/apicontagem-threshold-k6
  ASPNETCORE_URLS: 'http://localhost:5000'
  DIR_WEBAPP: './APIContagem'
  DIR_TESTS: './Tests'
  TEST_SCRIPTS: './Tests/tests-apicontagem.js'
  
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build de imagem
      run: |
        cd ${{ env.DIR_WEBAPP }}
        docker build . --file Dockerfile --tag ${{ env.IMAGEM_DOCKERHUB }}:latest      
    - name: Criar container para testes
      run: |
        docker run --name apitestes -p 5000:80 -d ${{ env.IMAGEM_DOCKERHUB }}:latest
        docker container ls
    - name: Instalar o k6
      run: |
        curl https://github.com/grafana/k6/releases/download/v0.36.0/k6-v0.36.0-linux-amd64.tar.gz -L | tar xvz --strip-components 1
        npm install
        ./k6
    - name: Executar testes de carga com k6
      run: |
        ./k6 run ${{ env.TEST_SCRIPTS }}
    - name: Login no Docker Hub
      uses: docker/login-action@v1.10.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Geração de tag com número do Build e Push no Docker Hub
      run: |
        docker tag ${{ env.IMAGEM_DOCKERHUB }}:latest ${{ env.IMAGEM_DOCKERHUB }}:$GITHUB_RUN_NUMBER
        docker push --all-tags ${{ env.IMAGEM_DOCKERHUB }}
